 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: cursive;
    
}

::-webkit-scrollbar{
    width:5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 50px;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.header h2{
    font-size: 35px;
}

/* pyramid section starts */
.pyramid-loader {
    position: relative;
    width: 100px;
    height: 50px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .pyramid-loader .wrapper .side {
    width: 45px;
    height: 45px;
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
  }
  
  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
  }
  
  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
  }
  
  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: linear-gradient(to bottom right, #FF4500, #FFA500);
  }
  
  .pyramid-loader .wrapper .shadow {
    width: 60px;
    height: 60px;
    background: #FF8C00;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
  }
/* pyramid section ends */

.inner-container{
    height: 500px;
    max-width: 700px;
    min-width: 300px;
    border: 3px solid orangered;
    color: black;
    border-radius: 30px;
    box-shadow: inset 0 0 20px rgb(255, 38, 0), 0 0 20px orangered;
    padding: 40px 20px;
    transition: 0.6s ease-in-out;
    transform: scale(1);

}

.inner-container:hover{
    transform: scale(1.05);

}

h2{
    text-align: left;
    color: rgb(0, 255, 0);
    text-shadow: 2px 2px  15px rgb(0, 255, 0);
}

form{
    height: 100%;
    width: 100%;
    
    padding: 20px 0;
}

.input-field{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    column-gap: 30px;
   
}


.input-field textarea{
    height: 40px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    box-shadow: inset 0 0 10px yellow, 0 0 10px yellow;
    background-color: black;
    border: 5px solid yellow;
    border-radius: 10px;
    color: white;
    transition: 0.8s ease-in;

}

.input-field textarea:focus{
    box-shadow: inset 0 0 20px red, 0 0 20px red;
    border-style: groove;
    border-color: red;
    
}

.input-field button{
    padding: 10px 20px;
    border-radius: 55px;
    border: 2px solid blue;
    background-color: black;
    font-size: 17px;
    color: white;
   transition: 0.5s ease-in-out 0.3s;
    cursor: pointer;
    

}

.input-field button:hover{
    background-color: blue;
    box-shadow: 0 0 50px 5px blue;
}
 
 
.div3{
    cursor: pointer;
    display: flex;
    column-gap: 10px;

}

#btn-edit, #btn-delete{
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

 #edit-img, #delete-img{
    height: 30px;
    width: auto;
 }

 .todo-container{
    height: 84%;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 20px;


 }

 .todo{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: wheat;
    border: 2px solid rgb(255, 3, 247);
    align-items: center;
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: inset 0 0 20px rgb(255, 3, 247), 0 0 20px rgb(255, 3, 247);
 }